@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desevolvedor @ViewData["Desenvolvedor"].</p>
<p>@ViewData["email"]</p>

<address>
    <strong>Mais informações:</strong> <a href="https://github.com/danrocsan/SalesWebMvc">Codigo do Projeto.</a>
</address>